.navbar-contents {
    display: flex;
    margin-left: 45%;
}

.validation {
    margin-left: 1.5rem;
}
.navbar-main {
    width: 100%;
    background-color: gray;
}
.generation,
.validation {
    font-size: x-large;
    color: white;
}