.main {
    font-size: large;
}

.detail-title {
    font-size: x-large;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

input {
    width: 50vw;
        margin-left: 3vw;
        margin-bottom: 2vw;
    }
    
    .generate {
        margin-left: 50%;
        margin-right: 50%;
}