.main {
    font-size: large;
}

.detail-title {
    font-size: x-large;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

input {
    width: 50vh;
        margin-left: 3vw;
        margin-bottom: 2vw;
}
.generate {
    margin-left: 50%;
}