.input-file-area {
    margin-top: 2rem;
}
.upload-text {
    font-size: larger;
    margin-bottom: 2rem;
}

.click-btn {
    margin-left: 50%;
    width: 10rem;
    height: 2rem;
    font-size: larger;
    border-radius: 10px;
    border: none;
        box-shadow: 1px 1px 5px 1px;
}

.hash-denoting {
    font-size: larger;
    margin-left: 2rem;
    margin-top: 5rem;
}

.result {
    margin-left: 7rem;
}
button:hover {
    scale: 1.02;
}